@charset "ISO-8859-1";
table {
border-collapse: collapse;
width: 50%;
}

th {
font-family: monospace;
border: thin solid #6495ed;

padding: 5px;
background-color: #D0E3FA;
background-image: url(sky.jpg);
}
tr{
	height:40px;
}
td {
border: thin solid #6495ed;

padding: 5px;

background-color: #ffffff;
}
